/* ハンバーガーメニュー用 */
#menu-btn-check {
    display: none;
}

.hamburger {
    width: 36px;
    height: 36px;
    position: relative;
    margin-top: -8px;
    margin-right: 14px;
    border: 0px;
    border-radius: 4px;
    z-index: 100;

}

.hamburger__button {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-radius: 4px;
    background-color: #305dff;
    box-shadow: 3px 3px 3px #999;
}

.hamburger__button span,
.hamburger__button span:before,
.hamburger__button span:after {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    position: relative;
    background: #fff;
    transition: 0.5s;
}

.hamburger__button span:before {
    bottom: 8px;
    width: 10px;
}

.hamburger__button span:after {
    top: 8px;
    width: 5px;
}

#menu-btn-check:checked~.hamburger__button span {
    background: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked~.hamburger__button span:before {
    bottom: 0;
    width: 24px;
    transform: translateX(-2px) rotate(45deg);
}

#menu-btn-check:checked~.hamburger__button span:after {
    top: 0;
    width: 24px;
    transform: translateX(-2px)rotate(-45deg);
}

.hamburger__menu {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 100%;
    z-index: 15;
    background: #fff;
    transition: 0.5s;
}

.hamburger__list {
    list-style: none;
}

.hamburger__item {
    text-decoration: none;
    font-size: 32px;
}

.hamburger__item a {
    color: #305dff;
    text-decoration: none;
}

.hamburger__logout-btn {
    background-color: unset;
    border-style: none;
    font-size: 32px;
    color: #305dff;
    cursor: pointer;
}

#menu-btn-check:checked~.hamburger__menu {
    left: 0;
}


/* body用 */
.content__wrapper {
    position: relation;
    display: flex;
    align-items: flex-start;
    max-width: 1030px;
    margin-top: 80px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* 店舗詳細 */
.storedetail {
    margin-right: 60px;
    width: 50%;
}

.storedetail__title-wrapper {
    display: flex;
    margin: 5px 0px 15px 0px;
}

.storedetail__title-ico {
    background-color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #999;
    text-align: center;
}

.storedetail__title-ico-back {
    color: #000;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.storedetail__name {
    font-size: 22px;
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
}

.storedetail__img-wrapper {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.storedetail__img {
    width: 100%;
}

.storedetail__tag {
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

.storedetail__text {
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

/* 評価 */
.storedetail__evaluation {
    margin-top: 20px;
    background-color: #fff;
    padding-left: 12px;
    padding-right: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.storedetail__stars {
    font-size: 20px;
}

.storedetail__stars-num {
    margin-top: 6px;
    font-size: 12px;
}

.store-prsnl-evaluation-wrap:last-child {
    margin-bottom: 30px;
}

.store-prsnl-evaluation {
    margin-top: 20px;
    background-color: #fff;
    padding-left: 12px;
    padding-right: 20px;
    border-radius: 6px;
    font-size: 12px;
    box-shadow: 3px 3px 3px #ccc;
}

.store-prsnl-evaluation__title {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.store-prsnl-evaluation__title--name {
    font-size: 14px;
    font-weight: bold;
}

.store-prsnl-evaluation__text {
    line-height: 1.6em;
    padding-top: 12px;
    padding-bottom: 12px;
}


/* 予約 */
.storereserve__wrap {
    width: 50%;
}

.storereserve__wrap:last-child {
    margin-bottom: 32px;
}

.storereserve {
    background-color: #305dff;
    box-shadow: 3px 3px 3px #999;
    border-radius: 6px;
}

.storereserve__title {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.storereserve__form-body {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

.storereserve__form-date {
    display: inline-block;
    width: 40%;
    border: none;
    border-radius: 3px;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}

.storereserve__form-input {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}

.storereserve__form-submit {
    margin-top: 20px;
    height: 36px;
    background-color: #1c41c5;
    border-radius: 0px 0px 6px 6px;
}

.storereserve__form-submit-btn {
    color: #fff;
    font-size: 12px;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
}

.storereserve__conf {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0px;
    background-color: #4e74ff;
    color: #fff;
    border-radius: 6px;
    font-size: 12px;

}

.storereserve__conf-list {
    list-style: none;
    margin: 16px;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.storereserve__conf-item-name {
    display: inline-block;
    width: 20%;
}

.storereserve__conf-item {
    display: inline-block;
}

.form__error {
    font-size: 12px;
    color: #c00;
}

/* 予約中 */
.storereserved {
    margin-top: 16px;
    background-color: #305dff;
    border-radius: 6px;
}

.storereserved-p {
    margin-top: 16px;
    background-color: #bbb;
    border-radius: 6px;
    padding-bottom: 1px;
}

.storereserved__title {
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.storereserved__conf {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0px;
    color: #fff;
    font-size: 12px;
}

.storereserved__conf-lists-wrap {
    width: 200px;
}

.storereserved__conf-lists {
    list-style: none;
    margin: 16px;
    margin-top: 0px;
    padding-left: 0;
    padding-top: 8px;
    white-space: nowrap;
}

.storereserved__conf-list {
    width: 100%;
    margin-bottom: 6px;
}

.storereserve__conf-item-name {
    display: inline-block;
    width: 60px;
}

.storereserved__QR-wrap {
    margin: 0 0 0 auto;
    background-color: #fff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storereserved__func {
    display: flex;
    width: 100%;
}

.storereserved__edit {
    margin-top: 6px;
    height: 36px;
    width: 50%;
    background-color: #1c41c5;
    border-radius: 0px 0px 0px 6px;
    border-right: solid 3px #305dff;
}

.storereserved__edit-btn {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    padding-top: 8px;
    text-decoration: none;
    text-align: center;
}

.storereserved__cnacel {
    margin-top: 6px;
    height: 36px;
    width: 50%;
    background-color: #1c41c5;
    border-radius: 0px 0px 6px 0px;
}

.storereserved__cnacel-btn {
    color: #fff;
    font-size: 12px;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    padding-top: 8px;
}

@media screen and (max-width:768px) {
    .content__wrapper {
        display: block;
    }

    .storedetail {
        width: 100%;
    }

    .store-prsnl-evaluation-wrap {
        display: none;
    }

    .storeregist {
        margin-top: 36px;
        width: 100%;
    }

    .storereserve__wrap {
        margin-top: 30px;
        width: 100%;
        height: auto;
    }

    .storereserve__conf {
        display: none;
    }

}